# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_dasbob_LEFT
	def_bool $(shields_list_contains,a_dux_left)

config SHIELD_dasbob_RIGHT
	def_bool $(shields_list_contains,a_dux_right)